[{"id": 0, "des": "作物", "color": "#FF4500", "ann": "CRO"}, {"id": 1, "des": "病害", "color": "#FFBBFF", "ann": "DIS"}, {"id": 2, "des": "虫害", "color": "#FF6984", "ann": "PET"}, {"id": 3, "des": "药剂", "color": "#FF1493", "ann": "DRUG"}, {"id": 4, "des": "肥料", "color": "#00BFFF", "ann": "FER"}, {"id": 5, "des": "病原", "color": "#00FF00", "ann": "REA"}, {"id": 6, "des": "部位", "color": "#F4A460", "ann": "PART"}, {"id": 7, "des": "地名", "color": "#FFD700", "ann": "LOC"}, {"id": 8, "des": "组织机构名", "color": "#90EE90", "ann": "ORG"}, {"id": 9, "des": "人名", "color": "#FFFF00", "ann": "PER"}, {"id": 10, "des": "其他", "color": "#7FFFD4", "ann": "OTH"}]
